body {
	line-height: 1.3;
	font-family: helvetica, sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: serif;
}
.main {
	max-width: 90%;
	margin: 20px;
	padding: 20px 60px;
	border: solid green 2px;
}
.featured-image {
	max-width: 50%;
}
ol li {
	max-width: 500px;
	padding: 10px 0px;
}