.inner {
	/*max-width: 900px;*/
	max-width: 80%;
	min-height: 90vh;
	margin: 40px auto;
	padding: 20px 60px;
	background-color: #E3F3DD;
}
.recipe-links {
	list-style-type: none;
}
.recipe-links a {
	text-decoration: none;
}